<p id="notice"><%= notice %></p>

<h1> User Database </h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @usersArr.each do |user| %>
      <tr>
        <td><%= link_to 'Show', User %></td>
        <td><%= link_to 'Edit', edit_user_path(user.id) %></td>
        <td><%= link_to 'Destroy', user.id, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>