<div class="myaccountDevise">

<p id="notice"><%= notice %></p>

<h1> <u>User Info </u></h1>

	<div class="baseImg">
	<%= image_tag @user.license_pic.url(:medium) %>
	</div>

<table>
    <thead>
      <tr>
        <th colspan="2"></th>
      </tr>
    </thead>

    <tbody>
        <tr>
          <td> <b>First Name:</b> </td>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
          <td> <%= @user.first_name %></td>
          <td>&nbsp;&nbsp;</td>
        </tr>
        <tr>
          <td> <b>Last Name:</b> </td>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
          <td> <%= @user.last_name %> </td>
          <td>&nbsp;&nbsp;</td>
        </tr>
        <tr>
          <td> <b>Email:</b> </td>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
          <td> <%= @user.email %> </td>
          <td>&nbsp;&nbsp;</td>
        </tr>
        <tr>
          <td> <b>Password:</b> </td>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
          <td> -Hidden- </td>
          <td>&nbsp;&nbsp;</td>
        </tr>
        <tr>
          <td> <b>License Number:</b> </td>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
          <td> <%= @user.driver_license %> </td>
          <td>&nbsp;&nbsp;</td>
        </tr>
        <tr>
          <td> <b>Address:</b> </td>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
          <td> <%= @user.address %> </td>
          <td>&nbsp;&nbsp;</td>
        </tr>
        <tr>
          <td> <b>Phone Number:</b>  </td>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
          <td> <%= @user.phone %> </td>
          <td>&nbsp;&nbsp;</td>
        </tr>
        <tr>
          <td> <b>Birthday:</b>  </td>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
          <td> <%= @user.birthday %> </td>
          <td>&nbsp;&nbsp;</td>
        </tr>
        <tr>
          <td> <b>Role:</b>  </td>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
          <td> <%= @user.role %> </td>
          <td>&nbsp;&nbsp;</td>
        </tr>
        <tr>
          <td> <b>Vip?</b>  </td>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
          <td> <%= @user.vip %> </td>
          <td>&nbsp;&nbsp;</td>
        </tr>
        <tr>
          <td> <b>Verified?</b>  </td>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
          <td> <%= @user.verified %> </td>
          <td>&nbsp;&nbsp;</td>
        </tr>

    </tbody>
  </table>

  <br>

<%= link_to 'Edit', edit_user_registration_path(@user.id) %> |
<%= link_to 'Back', home_path %>

</div>
