<p id="notice"><%= notice %></p>

<% @user.each do |user| %>
	<b>First Name:</b> <%= user.first_name %>
	<b>Last Name</b> <%= user.last_name %>
	<b>Email</b> <%= user.email %>
	<b>Password:</b> <%= user.password %>
 
	<b>License Number:</b> <%= user.driver_license %>
	<b>License Image:</b> <%= user.avatar %>
	<b>Address:</b> <%= user.address %>
	<b>Phone Number:</b> <%= user.phone %>
	<b>Birthday:</b> <%= user.birthday %>
	<b>Driver?:</b> <%= user.driver %>
	<b>VIP?:</b> <%= user.vip %>
	<b>Verified?:</b> <%= user.verified %>
<% end %>

<%= link_to 'Edit', edit_user_path(@user.id) %> |
<%= link_to 'Back', users_path %>