
<div class="backSet">

	<div class="navBar">
		<b class="title">&nbsp;FireWater</b>
		<span class="slogan">
		Let the party come to you. 
		<u>Wherever</u> you are. </span>

		<div class="navRight">
			<a href="/users/sign_in">
				<button class="navLinks">
				Login
				</button>
			</a>&nbsp;&nbsp;&nbsp;
			<a href="/users/sign_up">
				<button class="navLinks">
				Sign Up
				</button>
			</a>
		</div>
	</div>



	<div class="js-about">
		<p class="panelName1">
			A<br>B<br>O<br>U<br>T
		</p>
		<div class="holder">
			<h2>How it Works :</h2>
			<blockquote>
				After a quick & easy sign-up process, you will be redirected to the home page. On the Home page, you may notice that the first panel contains a list of all your past orders(if you have any). You can start constructing your next order by clicking on the Products Panel. Each item you select from the menu will be added to your order which is visible on the Review Panel. <br>Don't worry, before any money is exchanged, you will have the opportunity to review, edit, or cancel your order.
				If everything is the way you want it, click the submit button and the closest available driver will receive your request. The final page will allow you to track your order as it makes it's way from the liquor store to your doorstep.
				
			</blockquote>
			
			<h2>About Us : </h2>
				<blockquote>
				<span class="aboutTitle">FireWater </span>
					is a revolutionary new company that specializes in the delivery of spirits, wines, and beers for anything from high-profile events to the smallest backyard barbeques. <br>
					We provide comfort and convenience by ensuring that you do not have to leave whatever event you are at, but most of all, you do not have to drive while under the influence. This last point being especially crucial in keeping our streets and families safe.
				</blockquote>
		</div>
	</div>

	<div class="js-mapPanel closed">
		<p class="panelName2">
			D<br>R<br>I<br>V<br>E<br>R<br>S
		</p>
		<div class="showMap">
			<h2 class="highlight">Current Drivers in the area: </h2>

			<!-- Map code goes here -->
			<div id="map"></div>
	        	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDitmhzs3g-CuSVnFrUb19UarJA3ffKbJk">
        		</script>
	        		<script type ="text/javascript" src="http://www.geocodezip.com/scripts/v3_epoly.js">
        		</script>
		</div>
	</div>
	


	<div class="js-previewPanel closed">
		<p class="panelName3">
			P<br>R<br>O<br>D<br>U<br>C<br>T<br>S
		</p>
		<div class="menu">
			<h2 class="highlight">Alcohol Menu</h2>

					<ul id="btnList"> 
						<% @typeArr[0..8].each do |type| %>
						<li id="typeClick"> <center> <%= type.name %> </center></li>
						<% end %>
					</ul>

			<table class="productTable2 sortable">
			    <thead>
			      <tr>
			        <th class="sortTable first"> <center>Product Name </center></th>
			        <th class="sortTable width"> <center> Size </center> </th>
			        <th class="sortTable width"> <center> Quantity </center></th>
			        <th class="sortTable width"> Price  </th>
			        <th class="sortTable last"> Type </th>
			      </tr>
			    </thead>

			    <tbody class="body">
			      <% @productArr.each do |product| %>
			        <tr>
			          <td class="itemTable itemFirst"> <center><%= product.name %> </center></td>
			          <td class="itemTable itemWidth"> <center> <%= product.size %> </center></td>
			          <td class="itemTable itemWidth"> <center> - 1 + </center></td>
			          <td class="itemTable itemWidth"> <center>$<%= product.price %> </center></td>
			          <td class="itemTable itemWidth"> <center> <%= product.type.name %> </center></td>
			        </tr>
			      <% end %>
			    </tbody>
			</table>


		</div>
	</div>


</div>
