
<div class="backSet">

	<div class="navBar">
		<b class="title">&nbsp;FireWater</b>
		<span class="slogan">
		Let the party come to you. 
		<u>Wherever</u> you are. </span>

		<div class="navRight">
			<a href="/users/sign_in">
				<button class="navLinks">
				Login
				</button>
			</a>&nbsp;&nbsp;&nbsp;
			<a href="/users/sign_up">
				<button class="navLinks">
				Sign Up
				</button>
			</a>
		</div>
	</div>



	<div class="js-about">
		<p class="panelName1">
			A<br>B<br>O<br>U<br>T
		</p>
		<div class="holder">
			<b class="biggie aboutStart">How it Works :</b>
			<blockquote class="biggie">
				After a simply sign-up process, you will be redirected to the home page. From there, you will see a map displaying available drivers. Once you select a driver, you will then be shown the product's panel, at which point you may choose whichever drink's you prefer. Now don't worry, before anything is confirmed, we will double check the contents of your order via the final order biggie panel.
			</blockquote>
			<br>
			<b class="biggie aboutStart">About : </b>
				<blockquote class="biggie">
				<span class="biggie aboutTitle">FireWater </span>
					is a revolutionary new company that specializes in the delivery of spirits, wines, and beers for anything from high-profile events to the smallest backyard barbeques. <br>
					We provide comfort and convenience by ensuring that you do not have to leave whatever event you are at, but most of all, you do not have to drive while under the influence. This last point being especially crucial in keeping our streets and families safe.
				</blockquote>
		</div>
	</div>

	<div class="js-mapPanel closed">
		<p class="panelName2">
			D<br>R<br>I<br>V<br>E<br>R<br>S
		</p>
		<div class="showMap">
			<h2>Current Drivers in the Area: </h2>

			<!-- Map code goes here -->
			<div id="map"></div>
	        	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDitmhzs3g-CuSVnFrUb19UarJA3ffKbJk">
        		</script>
	        		<script type ="text/javascript" src="http://www.geocodezip.com/scripts/v3_epoly.js">
        		</script>
		</div>
	</div>
	


	<div class="js-previewPanel closed">
		<p class="panelName3">
			P<br>R<br>O<br>D<br>U<br>C<br>T<br>S
		</p>
		<div class="menu">

		
			<b class="biggie aboutStart"><center> Our Menu:</center></b><br>
				<!-- <thead id="rowHover"> -->
					<ul id="btnList"> 
						<% @typeArr[0..8].each do |type| %>
						<li id="typeClick"> <center> <%= type.name %> </center></li>
						<% end %>
					</ul>
				<!-- </thead> -->
			<div class="scroll">
				<table class="productTable1 sortable" id="rowHover">
				    <thead>
				      <tr>
				        <th id="sortTable"> Product Name </th>
				        <th id="sortTable"> Quantity </th>
				        <th id="sortTable"> Price </th>
				      </tr>
				    </thead>

				    <tbody>
				      <% @productArr.each do |product| %>
				        <tr>
				          <td id="itemTable"> <%= product.name %> </td>
				          <td id="itemTable"> <center> - 1 + </center></td>
				          <td id="itemTable"> $<%= product.price %> </td>
				        </tr>
				      <% end %>
				    </tbody>
				</table>
			</div>

			<table class="productTable2 sortable" id="rowHover">
			    <thead>
			      <tr>
			        <th id="sortTable"> Product Name </th>
			        <th id="sortTable"> Quantity </th>
			        <th id="sortTable"> Price </th>
			      </tr>
			    </thead>

			    <tbody>
			      <% @productArr[10..20].each do |product| %>
			        <tr>
			          <td id="itemTable"> <center><%= product.name %> </center></td>
			          <td id="itemTable"> <center> - 1 + </center></td>
			          <td id="itemTable"> $<%= product.price %> </td>
			        </tr>
			      <% end %>
			    </tbody>
			</table>

		</div>
	</div>


</div>
