
<div class="backSet">

	<div class="navBar">
		<b class="title">&nbsp;FireWater</b>
		<span class="underText">
		<%= @randomGreet %> <%= @user.first_name %>.
		</span>

		<div class="navRight">
			<a href="/users/<%= @current_user.id %>">
			    <button class="navLinks">
			     My Account
			    </button></a>&nbsp;&nbsp;&nbsp;

				<%= link_to(destroy_user_session_path, method: :delete) do %>
					<button class="navLinks">
						Logout
					</button>
				<% end %>		
		</div>
	</div>

	<div class="js-product closed">
		<h2 class="closeProduct"> Select products to have delivered:</h2>

		<table class="productTable">
		    <thead>
		      <tr>
		        <th> Product Name </th>
		        <th> Brand </th>
		        <th> Type </th>
		        <th> Quantity </th>
		        <th> Price </th>
		      </tr>
		    </thead>

		    <tbody>
		      <% @productArr.each do |product| %>
		        <tr>
		          <td> <%= product.name %> </td>
		          <td> <%= product.brand.name %> </td>
		          <td> <%= product.type.name %> </td>
		          <td> &nbsp;&nbsp;- 1 + </td>
		          <td> $<%= product.price %> </td>
		        </tr>
		      <% end %>
		    </tbody>
		</table>
	</div>

	<div class="js-mapOrder">

		<div class="showMap"> 
			<h2>Select a Driver in your area: </h2>
		    <!-- Google Maps Added -->
			<div id="map"></div>
	        	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDitmhzs3g-CuSVnFrUb19UarJA3ffKbJk">
        		</script>
	        		<script type ="text/javascript" src="http://www.geocodezip.com/scripts/v3_epoly.js">
        		</script>



		</div>
	</div>


	<div class="js-review closed">
		<p class="summary"> Your Order Summary:

			<form action="/users/<%= current_user.id %>/orders" method="POST">
			  <div>
			    <label for="address">Delivery Address</label>
			    <textarea name="order[address]" id="address"></textarea>
			  </div>

			  <div>
			    <label for="quantity">Quantity</label>
			    <input type="number" name="product_order[quantity]" id="quantity">
			  </div>

			   <input type='hidden' name="order[driver_id]" class="js-orderDriver">

			    <input type='hidden' name="product_order[product_id]" class="js-productID">

			  <input type='hidden' name='authenticity_token'
			      value='<%= form_authenticity_token %>'>

			  <button type="submit" class="navLinks">Place Your Order</button>

			</form>
		

		</p>
	</div>

</div>