
<div class="backSet">

	<div class="navBar">
		<b class="title">&nbsp;FireWater</b>
		<span class="slogan">
		<%= @randomGreet %> <%= @user.first_name %>.
		</span>

		<div class="navRight">
			<a href="/users/<%= @current_user.id %>">
			    <button class="navLinks">
			     My Account
			    </button></a>&nbsp;&nbsp;&nbsp;

				<%= link_to(destroy_user_session_path, method: :delete) do %>
				<button class="navLinks">
					Logout
				</button>
				<% end %>	
		</div>
	</div>


	<div class="js-mapOrder">
		<p class="panelName11">
			O<br>R<br>D<br>E<br>R<br>S
		</p>
		
			<div class="holder">
				<h2>Your Order History:</h2>
				<% if 1 == 1 %>
				<%= p "You currently have no order history. Click on the Products Panel to get started!" %>
				<% end %>
			</div>

		
	</div>


	<div class="js-product closed">
		<p class="panelName22">
			P<br>R<br>O<br>D<br>U<br>C<br>T<br>S
		</p>

		<div class="menu">
		
			<h2 class="highlight">Alcohol Menu</h2>

					<ul id="btnList"> 
						<% @typeArr[0..8].each do |type| %>
						<li id="typeClick"> <center> <%= type.name %> </center></li>
						<% end %>
					</ul>

			<table class="productTable1 sortable" id="rowHover">
			    <thead>
			      <tr>
			        <th id="sortTable"> Product Name </th>
			        <th id="sortTable"> Size </th>
			        <th id="sortTable"> Quantity </th>
			        <th id="sortTable"> Price </th>
			        <th id="sortTable"> Type </th>
			      </tr>
			    </thead>

			    <tbody>
			      	<% @productArr.each do |product| %>
			        <tr class="js-bottle 1"  data-name="<%=product.name%>" data-size="<%=product.size%>" data-price="<%=product.price %>">
			          <td id="itemTable"> <%= product.name %> </td>
			          <td id="itemTable" > <%= product.size %> </td>
			          <td id="itemTable"> <center> - 1 + </center></td>
			          <td id="itemTable" > $<%= product.price %> </td>
			          <td id="itemTable"> <%= product.type.name %> </td>
			        </tr>
			      <% end %>
			    </tbody>
			</table>


			<table class="productTable2 sortable" id="rowHover">
			    <thead>
			      <tr>
			        <th id="sortTable"> Product Name </th>
			        <th id="sortTable"> Quantity </th>
			        <th id="sortTable"> Price </th>
			      </tr>
			    </thead>

			    <tbody>
			      <% @productArr[10..20].each do |product| %>
			        <tr>
			          <td id="itemTable"> <center><%= product.name %> </center></td>
			          <td id="itemTable"> <center> - 1 + </center></td>
			          <td id="itemTable"> $<%= product.price %> </td>
			        </tr>
			      <% end %>
			    </tbody>
			</table>

		</div>
	</div>



	<div class="js-review closed">
		<p class="panelName33">
			S<br>U<br>M<br>M<br>A<br>R<br>Y
		</p>
		<div class="holder">
			<h2><center> Your Order Summary: </center></h2>
			<br>
			<strong>
			<table id="reviewTable">
				<tbody>
			    </tbody>
			</table>
			</strong>


			<br><br>
			<i>To complete your order, please input the following:</i><br>
			<form action="/users/<%= current_user.id %>/orders" method="POST">
			  <div>
			    <label for="address">Delivery Address :</label>
			    <input type="text" name="order[address]" id="address">
			  </div>

			  <div>
			    <label for="quantity">Tip amount: </label>
			    <input type="number" name="product_order[quantity]" id="quantity">
			  </div>

			   <input type='hidden' name="order[driver_id]" class="js-orderDriver">

			    <input type='hidden' name="product_order[product_id]" class="js-productID">

			  <input type='hidden' name='authenticity_token'
			      value='<%= form_authenticity_token %>'>

			  <button type="submit">Place Your Order</button>

			</form>
	</div>

</div>