
<div class="backSet">

	<div class="navBar">
		<b class="title">&nbsp;<a href="home">FireWater</a></b>
		<span class="slogan">
		<%= @randomGreet %> <%= @user.first_name.capitalize %>.
		</span>

		<div class="navRight">
			<a href="/users/<%= @current_user.id %>">
			    <button class="btn btn-1 btn-1e">
			     My Account
			    </button></a>&nbsp;&nbsp;&nbsp;

				<%= link_to(destroy_user_session_path, method: :delete) do %>
				<button class="btn btn-1 btn-1e">
					Logout
				</button>
				<% end %>	
		</div>
	</div>


	<div class="js-mapOrder">
		<p class="panelName11">
			O<br>R<br>D<br>E<br>R<br>S
		</p>
		
			<div class="holder">
				<h2>Your Order History:</h2>

				<table>
<!-- 				<thead>
					<tr>
						<th> Date Created </th>
						<th> Order Status </th>
						<th> Products </th>
					</tr>
				</thead> -->
				<tbody>
				  	<% if @userOrders.length != 0 %>
				  	<%	@userOrders.each do |order| %>
				  <tr> 
				  	<td> <%= order.created_at.to_formatted_s(:short) %> &nbsp;&nbsp;&nbsp;</td>
				  	<td> Status:<br> Order Received &nbsp;&nbsp;&nbsp;</td>
					  	<%# order.products.each do |product| %>
					  	<td> <%= order.products.all %> </td>
					    
				    <% end %> 
				    <% else %> 
				    <%= p "You currently have no order history. Click on the Products Panel to get started!" %>
				  </tr>
				  <% end %>
				</tbody>
				</table>

				<% if 1 == 1 %>
				
				<% end %>

			</div>

		
	</div>


	<div class="js-product closed">
		<p class="panelName22">
			P<br>R<br>O<br>D<br>U<br>C<br>T<br>S
		</p>

		<div class="menu">
		
			<h2 class="highlight">Alcohol Menu</h2>

					<ul id="btnList"> 
						<% @typeArr[0..8].each do |type| %>
						<li id="typeClick"> <center> <%= type.name %> </center></li>
						<% end %>
					</ul>

			<table class="productTable2 sortable" id="rowHover">
			    <thead>
			      <tr>
			        <th class="sortTable first"> <center>Product Name </center></th>
			        <th class="sortTable width"> <center> Size </center> </th>
			        <th class="sortTable width"> <center> Quantity </center></th>
			        <th class="sortTable width"> Price  </th>
			        <th class="sortTable last"> Type </th>
			      </tr>
			    </thead>

			    <tbody class= "body">
			      	<% @productArr.each do |product| %>
			        <tr class="js-bottle 1" data-id="<%= product.id %>" data-name="<%=product.name%>" data-size="<%=product.size%>" data-price="<%=product.price %>">
			          <td class="itemTable itemFirst"> <center><%= product.name %> </center></td>
			          <td class="itemTable itemWidth"> <center> <%= product.size %> </center></td>
			          <td class="itemTable itemWidth"> <center> - 1 + </center></td>
			          <td class="itemTable itemWidth"> <center>$<%= product.price %> </center></td>
			          <td class="itemTable itemWidth"> <center> <%= product.type.name %> </center></td>
			        </tr>
			      <% end %>
			    </tbody>
			</table>

		</div>
	</div>



	<div class="js-review closed">
		<p class="panelName33">
			S<br>U<br>M<br>M<br>A<br>R<br>Y
		</p>
		<div class="holder">
			<h2><center> Your Order Summary: </center></h2>
			<br>

			<i>
			<table id="reviewTable">
				<tbody>
			    </tbody>
			</table>
			</i>

			<strong>
			________________________________________________________<br>
			<h2 id="totalRecall">
			</h2>
			</strong>



			<br><br>
			<i>To complete your order, please input the following:</i><br>
			<form action="/users/<%= current_user.id %>/orders" method="POST">
			  <div>
			    <label for="address">Delivery Address :</label>
			    <input type="text" name="order[address]" id="address">
			  </div>

			  <div>
			    <label for="quantity">Tip amount: </label>
			    <input type="number" name="product_order[quantity]" id="quantity">
			  </div>

			  <!-- <input type='hidden' name="order[user_id]" class="js-orderUser"> -->
			  <!-- <input type='hidden' name="order[driver_id]" class="js-orderDriver"> -->
			  <!-- <input type='hidden' name="order[scheduled_for]" class="js-orderSchedule"> -->
			  <!-- <input type='hidden' name="order[status_id]" class="js-orderStatus"> -->
			  <!-- <input type='hidden' name="product_order[order_id]" class="js-pOrderId"> -->
			  <!-- <input type='hidden' name="product_order[quantity]" class="js-pQuantity"> -->
			  <input type='hidden' name='authenticity_token'
			      value='<%= form_authenticity_token %>'>

			  <button type="submit"> Place Your Order </button>

			</form>
	</div>

</div>